@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #725933;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Navbar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0 20px;
  color: whitesmoke;
}
.nav-menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.nav-menu li {
  margin: 30px 40px;
  letter-spacing: 2px;
}

.nav-menu li a {
  color: white;
  font-size: 20px;
  padding-bottom: 5px;
}

.nav-menu li a:not(.brand):hover {
  border-bottom: 2.5  px solid white;
}

.nav-menu .brand img {
  width: 120px;
}

div.dropdown a {
  border-bottom: none !important;
}

.gallery .dropdown {
  display: none;
}

.wishes .dropdown {
  display: none;
}

.gallery:hover .dropdown {
  display: flex;
  flex-direction: column;
  background-color: rgba(57, 71, 71, 0.404);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
}
.wishes:hover .dropdown {
  display: flex;
  flex-direction: column;
  background-color: rgba(57, 71, 71, 0.404);
  padding: 10px 70px 10px 10px;
  border-radius: 10px;
  position: absolute;
}

.gallery .dropdown a:hover {
  text-decoration: none;
  color: rgb(52, 75, 75);
}
.wishes .dropdown a:hover {
  text-decoration: none;
  color: rgb(52, 75, 75);
}

#home {
  background: url('./img/c.jpg');
  background-size: cover;
  width: 100%;
  padding-top: 120px;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-content {
  /* margin-bottom: 150px; */
  color: rgb(250, 250, 248);
  text-align: center;
}

.header-content p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  letter-spacing: 5px;
  font-size: 15px;
}

.subheading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.subheading .subline {
  width: 130px;
  height: 1px;
  background-color: white;
}

.header-content h2 {
  font-size: 18px;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
}

.header-content h1 {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: 'Tangerine', cursive;
}

.header-content h4 {
  font-size: 13px;
  letter-spacing: 6px;
  font-family: 'Montserrat', sans-serif;
}
.header-content img {
  width: 150px;
  height: 150px;
}

/* Countdown */
.quotes {
  width: 100%;
  height: fit-content;
  text-align: center;
  background-color: #725933;
  padding: 1rem 0 4rem 0;
  display: flex;
  align-items: center;
  padding: 1rem 8rem 1rem 4rem;
}

.quotes img {
  width: 350px;
}

.quotes p {
  font-size: 20px;
  color: #C8B27B;
}

.remaining-time {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.remaining-time .time {
  width: 130px;
  height: 130px;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.time span {
  font-family: 'Bitter', serif;
  font-size: 2em;
}

.time p {
  font-family: 'Cormorant Garamond';
  font-weight: 600;
}

/* Couple */
#couple {
  background-color: #1d1d1b;
  width: 100%;
  padding-bottom: 50px;
}

.title {
  padding-top: 50px;
  text-align: center;
  font-size: 25px;
  color: rgb(15, 15, 15);
  letter-spacing: 5px;
  font-family: 'Cormorant Garamond', serif;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.col {
  display: flex;
  align-items: center;
  width: 80%;
}

.kedua {
  flex-direction: row-reverse;
}

.row .col img {
  width: 300px;
  border-radius: 5px;
}

.col .divider {
  height: 1px;
  width: 200px;
  background-color:rgb(201, 165, 122);
  margin: 0 20px;
}

.couple .row {
  margin-top: 50px;
}

.couple-text h4 {
  font-size: 6vmin;
  color: rgb(201, 165, 122);
  margin: 20px auto;
  font-family: 'Dancing Script', cursive;
}  

.couple-text strong{
  color: rgb(221, 199, 173);
  font-size: 17px;
}

.couple-text i{
  color: rgb(221, 199, 173);
  font-size: 17px;
}

/* Event */
.title {
  text-align: center;
  font-size: 25px;
  color: white;
  letter-spacing: 5px;
  font-family: 'Cormorant Garamond', serif;
}

.wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

table {
  border: 1px solid #87683A;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

thead {
  background-color: #87683A;
  height: 40px;
  font-size: 20px;
}

th,
td {
  padding: 8px;
  border-left: 1px solid #87683A;
  border-right: 1px solid #87683A;
  color: white;
  width: 50%;
}

tr:nth-child(even) {
  background-color: #4a4a49;
}

#akad {
  background-color: #1d1d1b;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-container {
  width: 85%;
  /* background-color: white; */
  height: fit-content;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  width: 35%;
  height: 400px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.first {
  background-image: url(./img/akad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.second {
  background-image: url(./img/resepsi.jpg);
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}

.third {
  background-image: url(./img/unduh-mantu.jpg);
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}

.third img {
  width: 50px;
}

.card-content {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 2rem;
  text-align: center;
  border-radius: 3px;
  opacity: 0.95;
}
.card-icon {
  width: 50px;
}

/* Gallery */
#galleries {
  width: 100%;
  background-color: #1d1d1b;
  padding: 1rem;
  display: grid;
  justify-content: center;
}

.our {
  text-align: center;
  font-size: 25px;
  color: rgb(10, 10, 10);
  font-family: 'Cormorant Garamond', serif;
}

.our h1 {
  color: white;
  font-size: 35px;
  letter-spacing: 5px;
  font-family: 'Cormorant Garamond', serif;
}

.gallery-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 20px;
}

.photo-container {
  height: 250px;
}

.photo {
  width: 350px;
  height: 250px;
  cursor: pointer;
  object-fit: cover;
}

.photo:hover {
  box-shadow: 1px 1px 1px solid black;
}

#our-story {
  padding: 1rem 0 2rem 0;
  background-color: #CEBBA2;
  text-align: center;
}

#our-story h1 {
  font-size: 40px;
  letter-spacing: 5px;
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 15px;
}

#our-story iframe {
  position: relative;
  width: 80%;
  height: 600px;
  margin: auto;
  display: block;
  margin-bottom: 2rem;
}

#our-story a {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #87683A;
  color: white;
  cursor: pointer;
}

#our-story a:hover {
  background-color: #a58c63;
}

/* Wish */
#wishes {
  width: 100%;
  height: fit-content;
  background-color: #1d1d1b;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.ucapan-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.gift-icon-1 {
  width: 150px;
  height: 150px;
}

.gift-icon-2 {
  width: 200px;
  height: 200px;
}

#gift {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#gift h1 {
  color: white;
  margin: 30px 0 10px 0;
  text-align: center;
  font-size: 35px;
  letter-spacing: 5px;
  font-family: 'Cormorant Garamond', serif;
}

.gift-container {
  width: 75%;
  height: 450px;
  background-color: #87683A;
  border-radius: 5px;
  margin: 20px auto;
  display: flex;
  align-items: center;
}

.gift-col {
  width: 50%;
  padding: 0 40px;
  height: fit-content;
  color: white;
}

.gift-col p {
  font-size: 17px;
  color: white;
}

.line {
  width: 1px;
  height: 400px;
  background-color: white;
  margin: 30px 0;
}

.teks-ucapan {
  text-align: center;
  color: #c98929;
}

.transfer {
  margin-top: 20px;
}

.transfer .label-title {
  display: inline-block;
}

.transfer .label-desc {
  margin-left: 18px;
}

.ucapan {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 20px;
}

.ucapan input[type='text'] {
  height: 40px;
  padding: 0 10px;
  background-color: #4a4a49;
}

.ucapan input[type='text']:focus {
  border: 1px solid #87683a;
}

.ucapan input[type='text'],
textarea {
  border: none;
  color: white;
}

.ucapan input[type='text'],
textarea:focus {
  outline: none;
}

.ucapan textarea {
  background-color: #4a4a49;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.ucapan textarea:focus {
  border: 1px solid #87683a;
}

.ucapan input[type='submit'] {
  width: 200px;
  padding: 10px;
  font-size: 15px;
  background-color: #1d1d1b;
  color: #c98929;
  border: 1px solid #c98929;
  border-radius: 3px;
  cursor: pointer;
}

.ucapan input[type='submit']:hover {
  background-color: #c98929;
  color: white;
}

.bank-list {
  margin-top: 20px;
  border-bottom: 1px solid white;
}

footer {
  height: 10vh;
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  padding: 0 5rem;
  justify-content: space-between;
}

footer p {
  color: white;
}

.social {
  display: flex;
  align-items: center;
}

.social img {
  width: 25px;
  margin-left: 10px;
}

#gramophone {
  background-color: #ad7623;
  width: 50px;
  border-radius: 50%;
  padding: 5px;
  position: fixed;
  top: 90%;
  z-index: 999;
  left: 95%;
  cursor: pointer;
}

#gramophone:hover {
  opacity: 0.7;
}

audio {
  display: none;
}
